.calendar {
    padding: 1em;
}

.month-table {
    border-collapse: separate;
    min-width: 300px;
    width: calc(100% - 200px);
    table-layout: fixed;
}

.day-cell {
    border: none;
    height: 7vw;
    position: relative;
}

.day-cell-date {
    position: absolute;
    top: 3px;
    left: 4px;
    font-size: 11px;
}

.day-cell-hours {
    text-align: center;
    font-size: 22px;
}

.red {
    background-color: rgba(255, 170, 155, 1);
}

.green {
    background-color: rgba(140, 255, 140, 1);
}

.gray {
    background-color: rgba(0, 0, 0, 0.05);
}

.calendar-wrapper {
    display: flex;
    margin-bottom: 1em;
}

.scroll-calendar-button {
    width: 100px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 21px;
    cursor: pointer;
}

.scroll-calendar-button:hover {
    background-color: rgba(235, 245, 255, 1);
}

.new-entry-button {
    background-color: rgba(0, 0, 255, 1);
    border-radius: 3px;
    color: rgba(255, 255, 255, 1);
    padding: 8px 10px;
    text-decoration: none;
}

.new-entry-button:hover {
    background-color: black;
}