.month-table {
    border-collapse: collapse;
    min-width: 400px;
    width: 80%;
    table-layout: fixed;
}

.day-cell {
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 10vw;
}

.calendar-wrapper {
    display: flex;
}